
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url("./images/img.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
}
header{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-decoration: 0;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
}
.navigation{
    position: relative;
    display: flex;
}
.navigation li{
   list-style: none;
}
.navigation li a{
    display: inline-block;
    padding: 10px 30px;
    background-color: #15f;
    color: #fff;
    text-decoration: 0;
    font-weight: 200;
    letter-spacing: 1px;
}
.navigation li a:hover{
    color: #15f;
}
.text{
    max-width: 700px;
}
.boite-text h2{
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    margin: 20px 0;
}
.boite-text p{
    color: #fff;
    margin-bottom: 20px;
}
.boite-text a{
    display: inline-block;
    padding: 10px 30px;
    background-color: #15f;
    color: #fff;
    text-decoration: 0;
    font-weight: 200;
    letter-spacing: 1px;
}
.ico-res {
     position: absolute;
     bottom: 35px;
     display: flex;
     justify-content: space-between;
     width: 150px;
     
}
.ico-res li {
    list-style: none;
}
.ico-res i {
    font-size: 25px;
    color: #fff;
    transition: 0.5s;
}
.ico-res i:hover {
    transform: scale(2);
}
/* Responsive */
@media (max-width:991px){
    section{
        padding: 50px;
        background: url("./images/img2.jpg");
        background-position: center;
        background-size: cover;
    }
    header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 30px;
    }
    h2{
        line-height: 1em;
    }
    .boite-text{
        background-color: rgba(0, 0, 0, 0.4);
        padding: 50px 20px;
    }
    .navigation{
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 1;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .navigation a {
        margin: 20px 0;
        font-size: 20px;
        text-transform: uppercase;
        padding: 5px 10px;
        transition: 0.5s;
    }
    .navigation a:hover {
        background-color: #fff;
        font-weight: bold;
    }
    .menu-Toggle {
        position: relative;
        width: 30px;
        height: 30px;
        background: url("./images/menu.png");
        background-position: center;
        background-size: cover;
        cursor: pointer;
        z-index: 2;
    }
    .menu-Toggle.active {
        background: url("./images/close.png");
        background-position: center;
        background-size: cover;
        cursor: pointer;
    }
    .navigation.active {
        display: flex;
    }
}